<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:acf/album-content {"name":"acf/album-content","data":{"album_name":"","_album_name":"field_6900c836cc38c","artist":"","_artist":"field_68f5f38b829d8","explicit":"0","_explicit":"field_68f5f38b86858","spotify_link":"","_spotify_link":"field_6900cf4968768","apple_music_link":"","_apple_music_link":"field_6900cf5468769","duration":"","_duration":"field_68f5f38b7eb58"},"mode":"preview"} /-->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->