<!-- wp:template-part {"slug":"header","area":"uncategorized"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image {"aspectRatio":"1","height":"256px","style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-title {"fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:details -->
<details class="wp-block-details"><summary>Details</summary><!-- wp:paragraph {"placeholder":"Digita / per aggiungere un blocco nascosto"} -->
<p></p>
<!-- /wp:paragraph --></details>
<!-- /wp:details --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Listen on Spotify</a></div>
<!-- /wp:button -->

<!-- wp:button {"textAlign":"left"} -->
<div class="wp-block-button"><a class="wp-block-button__link has-text-align-left wp-element-button">Listen on Apple Music</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:separator {"className":"is-style-wide","backgroundColor":"primary"} -->
<hr class="wp-block-separator has-text-color has-primary-color has-alpha-channel-opacity has-primary-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:acf/album-list {"name":"acf/album-list","data":{"songs_0_song_name":"","_songs_0_song_name":"field_song_name","songs_0_spotify_link":"","_songs_0_spotify_link":"field_spotify_link","songs":"","_songs":"field_68f633ffc33ba"},"mode":"preview"} /-->

<!-- wp:template-part {"slug":"footer","area":"uncategorized"} /-->