<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"
    style="padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)">
    <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|regular"}}}} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|regular"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--regular)">
        <!-- wp:post-date /-->
        <!-- wp:post-author {"showAvatar":false} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content /-->

    <!-- wp:post-terms {"term":"category","style":{"spacing":{"margin":{"top":"var:preset|spacing|regular"}}}} /-->
    <!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"margin":{"top":"var:preset|spacing|small"}}}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->